@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaCyrillicMedium.woff') format('woff');
}

@font-face {
  font-family: 'ivy';
  src: url('./fonts/IvyMode-Italic.ttf') format("truetype");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

body::-webkit-scrollbar {
  display: none;
}

.header{
  z-index: 999;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
